.Galeria{
    background-color: rgb(49, 0, 183);
    width: 100%;
    height: 50vh;
}

.container_galeria{
    padding: 3rem;
}

.h2_galeria{
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
}

.image_galeria{
    display: block;
    width: 100%;
}

/* .over_galeria{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.9);
} */

.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thumbnail:hove{
    transform: translateY(-4px);
}

.img-container:hover .overlay{
    opacity: 1;
}

.slider{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.inner{
    display: flex;
    animation: scroll 35s linear infinite ;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5));
    }
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.inner:hover {
    animation-play-state: paused;
}

.item img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}