.Filosofia{
        width: 100%;
        min-height: 100vh;
        /* display: flex; */
        /* flex-wrap: wrap; */
        padding-bottom: 1rem;
    }
    .animate__zoomIn{
        font-size: 4rem;
    }

.filosofia1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filosofia2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;

}
.contenedor__imagen{
    display: flex;
    width: 50vh;
    /* gap:.5rem; */
    margin-left: 1rem;
    justify-content: space-evenly;
}

.imagen1{
    width: 10rem;
    height: 14rem;
    margin-top: 3rem;
    border: 1px solid black;
    border-radius: 10px;
}

.imagen2{
    width: 10rem;
    height: 14rem;
    margin-bottom: 3rem;
    border: 1px solid black;
    border-radius: 10px;
}

.parrafo1 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    text-align: left;
}

.parrafo2 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60%;
    text-align: right;
}